// Custom Styles
.card-icon {
    width: 50px;
}
.card:hover {
    transition-duration: 0.5s;
    .-shadow-large
}
.navigation {
    height: 105px;
    padding-top: 5px;
    border-bottom: 1px solid @night-100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 2;

    .-light-bg;
}
.hero {
    margin: -70px auto 0 auto;
    height: auto;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
}
.logo {
    margin-top: -20px;
}
.logo2 {
    width: 25%;
    margin-top: -20px;
}
.sideBar {
    height:100vh;
    border-right: 1px solid @primary;
}
.footer {
    position: absolute;
    bottom: -40px;
    padding: 10px 0;
    min-width: 100vw;
    .-light-bg;
}
body {
    background-color: @primary;
}
.pageWrapper {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1200px;
    min-height:100vh;
}


/*
 * Flock Styles
 */

.chicken-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 200px;
    margin: 1em .5em;

    .card {
        width: 30%;
    }
    .chicken-image {
        width: 100%;
        height: 300px;
    }
}
.accordion {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.accordion-button {
    width: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 8px 8px 10px 8px;
    border: 1px solid #7d70ba;
    color: #7d70ba;
    transition: 0.2s linear all;
}


.accordion-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
    border-top: 1px solid #ccc;
}

form {
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
#updateBird {
    padding: 0;
}
/* Modal Background */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

/* Modal Content Box */
.custom-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Elements */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.save-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .-clover-bg;
}

.save-button:hover {
    .-clover-700-bg;
}

.card-content p { //fix for non logged in users
    height: 165px;
    overflow-y: scroll;
}
// Admin buttons
.admin-buttons {
    display:flex;
    justify-content: space-between;
    padding-top:15px;
}
.edit-button {
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .-clover-bg;
}

.edit-button:hover {
    .-clover-700-bg;
}
.delete-button {
    width: 100%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .-tomato-bg;

    &:hover {
        .-tomato-700-bg;
    }
}

.cancel-button {
    width: 100%;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    .-light-bg;

    &:hover {
        .-light-700-bg;
    }
}

.admin-drawer {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    display: none;
}
.plus-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.plus-icon {
    position: relative;
    width: 24px;
    height: 24px;
}

.plus-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px; /* Thickness of the lines */
    background-color: black;
    transition: all 0.3s ease;
}

.plus-icon .vertical {
    top: 0;
    left: 50%;
    height: 100%;
    width: 3px; /* Thickness of the vertical line */
    transform: translateX(-50%);
}

.plus-icon .horizontal {
    top: 50%;
    left: 0;
    height: 3px; /* Thickness of the horizontal line */
    transform: translateY(-50%);
}

.plus-icon.open .vertical {
    opacity: 0;
}

.plus-icon.open .horizontal {
    transform: translateY(-50%) rotate(0deg);
}
